.about_container {
	background-color: transparent;
	overflow: auto;
	margin-bottom: 30px;
}

.about_content {
	margin: 84px 15px 50px;
	color: black;
}

.about_header {
	/* background: linear-gradient(
		135deg,
		#000000 0%,
		aquamarine 50%,
		darksalmon 100%
	); */
	border-radius: 0.4rem;
	margin-bottom: 2rem;
	color: darksalmon;
	text-align: center;
	padding: 10px;
	font-family: var(--theme-font-family);
	box-shadow: 2px 2px 10px -1px white;
	background-color: white;
}

.leaves {
	border-radius: 1rem;
	width: 100%;
	display: block;
	margin: 0;
	box-shadow: 2px 2px 10px black;
}

.list {
	margin: 40px 0px 40px;
	font-family: var(--theme-font-family);
	line-height: 28px;
	letter-spacing: 0.04rem;
	box-shadow: 3px 2px 20px -9px white;
	border-radius: 0.4rem;
	padding: 40px;
	background-color: white;
}

.about_p {
	box-shadow: 3px 2px 20px -9px white;
	background-color: white;
	color: black;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.04rem;
	border-radius: 0.4rem;
	padding: 15px;
}

.transition {
	height: 200px;
	background: linear-gradient(#ffffff 0%, #11231c 90%);
}
