.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--alt-font-color);
	font-family: var(--theme-font-family);
	margin: -1rem 0;
	background: linear-gradient(#000000 0%, aquamarine 99%);
}

.links_container {
	display: flex;
	flex-wrap: wrap;
	color: white;
	margin: 2rem 1rem;
	/* padding: 20px 34px; */
}

.links_box {
	padding-top: 2rem;
}

.links_box h2 {
	font-size: 1.3rem;
	line-height: 1.6rem;
}
.links_box a {
	color: darksalmon;
}
.link {
	font-family: var(--main-font-family);
	color: var(--alt-font-color);
	font-size: 0.9rem;
	background-color: white;
	padding: 10px;
	width: fit-content;
	border-radius: 0.4rem;
	box-shadow: 5px 5px 10px -5px black;
	margin-top: 1.5rem;
	white-space: nowrap;
}

.links_box a {
	color: darksalmon;
}

hr {
	border: 0;
	width: 90%;
	background-color: black;
	height: 1px;
}

.main_footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 0.8rem;
	line-height: 1.8rem;
	/* width: 100%; */
	/* margin: 30px 0px 40px 0px; */
}
.main_footer a {
	color: var(--alt-font-color);
}
.footer_link {
	padding: 0.3rem 0;
}

.email {
	margin: 0;
}

.ending_footer {
	text-align: center;
}

.company_header {
	font-family: var(--theme-font-family);
	font-size: 1rem;
}

.footer_img {
	max-width: 90%;
	height: auto;
	margin-bottom: 20px;
	border-radius: 0.4rem;
}

@media only screen and (min-device-width: 1200px) {
	.links_container {
		flex-wrap: nowrap;
		width: 70vw;
	}
	.links_box {
		padding: 2rem 1.6rem;
		width: 50%;
	}
	.links_box h2 {
		font-size: 2rem;
		line-height: 2.5rem;
	}
	.link {
		padding: 1rem;
		margin-top: 2rem;
	}
	.main_footer {
		padding: 3rem 0;
		font-size: 1rem;
	}
	.footer_link {
		padding: 1rem 0;
	}
	hr {
		width: 50%;
	}
}

@media only screen and (min-device-width: 1400px) {
	.links_container {
		/* margin: 2rem 16rem; */
	}
}
