.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--alt-font-color);
	font-family: var(--theme-font-family);
	margin: 0px 20px;
}

.links_container {
	display: flex;
	flex-wrap: wrap;
	color: white;
	margin-bottom: 30px;
	/* padding: 20px 34px; */
}

.links_box {
	padding-top: 2rem;
}

.links_box h2 {
	font-size: 1.3rem;
	line-height: 1.6rem;
}
.links_box a {
	color: darksalmon;
}
.link {
	font-family: var(--main-font-family);
	color: var(--alt-font-color);
	font-size: 0.9rem;
	background-color: white;
	padding: 10px;
	width: fit-content;
	border-radius: 0.4rem;
	box-shadow: 5px 5px 10px -5px black;
	margin-top: 1.5rem;
	white-space: nowrap;
}

.main_footer a {
	color: var(--alt-font-color);
}
.links_box a {
	color: darksalmon;
}

hr {
	border: 0;
	width: 100%;
	background-color: black;
	height: 1px;
}

.main_footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 0.8rem;
	line-height: 1.8rem;
	/* width: 100%; */
	/* margin: 30px 0px 40px 0px; */
}

.email {
	margin: 0;
}

.ending_footer {
	text-align: center;
}

.company_header {
	font-family: var(--theme-font-family);
	font-size: 1rem;
}

.footer_img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
	border-radius: 0.4rem;
}
