form {
	display: flex;
	flex-direction: column;
	padding: 20px;
	font-family: var(--theme-font-family);
	letter-spacing: 0.5px;
	background: linear-gradient(darksalmon, aquamarine);
	border-radius: 0.4rem;
}

.form_response {
	top: 40%;
	font-size: 2rem;
	border-radius: 0.4rem;
	padding: 1rem;
	font-family: var(--theme-font-family);
	letter-spacing: 0.5px;
	background: linear-gradient(darksalmon, aquamarine);
	text-align: center;
}

input,
textarea {
	border: none;
}

h1 {
	text-align: center;
}

form ul {
	list-style: none;
}

form label {
	font-weight: bold;
}

form p {
	font-weight: bold;
}

form div {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
}

#programSelection {
	flex-direction: column;

	padding: 0;
}

#programSelection div {
	flex-direction: row;
	padding: 0;
	align-items: baseline;
}

#programSelection label {
	padding: 0 5px;
	font-weight: normal;
}

.goalInputs {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding: 0;
}

.goalInputs label {
	padding: 0 5px;
	font-weight: normal;
}

#goals {
	padding-bottom: 5px;
}

.goalsList {
	padding: 0;
}

.readyInputs {
	padding: 0;
}

.radios {
	flex-direction: row;
	align-items: baseline;
}

.radios label {
	padding: 0 5px;
	font-weight: normal;
}

@media only screen and (min-device-width: 1200px) {
	.form_response {
		padding: 4rem;
	}
}
