.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
	padding: 0px 48px 0px 48px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: transparent;
}

.header * {
	color: #ffe600;
	font-size: 24px;
}

.company {
	align-items: center;
	font-weight: bold;

	margin: 0;
}

.navbar {
	font-weight: bold;
	margin: 0;
}

.navbar a {
	text-decoration: none;
	padding: 0 10px;
	font-size: 20px;
}

.navbar a:hover {
	text-decoration: none;
	color: #89a5dd;
}
