.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
	padding: 10px 12px 10px 12px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: black;
	z-index: 1;
}

.header * {
	/* color: #ffe600; */
	font-size: 24px;
}

.company {
	align-items: center;
	font-weight: bold;
	color: white;
	margin: 0;
}

.navBar {
	display: none;
	font-weight: bold;
	margin: 10px 0px;
	z-index: 1000;
}

.navBar a {
	text-decoration: none;
	padding: 0 10px;
	font-size: 20px;
	text-transform: uppercase;
}

.menuNav {
	display: none;
	margin: 0;
}

button {
	background: transparent;
	border: none;
}

.header button:focus {
	outline: none;
}

/* .navbar a:hover {
	text-decoration: none;
	color: #89a5dd;
} */

.showMenu {
	height: auto;
	background-color: black;
	flex-wrap: wrap;
}

.showMenu .navBar {
	width: 100%;
	display: flex;
	padding-top: 5px;
	transition: 2s ease-in-out;
}

.showMenu button {
	background: transparent;
	border: none;
}

.showMenu button:focus {
	outline: none;
}

.showMenu .menuNav {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: right;
}

.showMenu a {
	color: white;
	text-decoration: none;
	padding: 0 10px;
	font-size: 20px;
}

@media only screen and (min-device-width: 500px) {
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 64px;
		padding: 0px 48px 0px 48px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: transparent;
	}

	.header * {
		color: white;
		font-size: 24px;
	}

	.company {
		align-items: center;
		font-weight: bold;

		margin: 0;
	}

	.navBar {
		font-weight: bold;
		margin: 0;
	}

	.navBar a {
		text-decoration: none;
		padding: 0 10px;
		font-size: 20px;
	}

	.navBar a:hover {
		text-decoration: none;
		color: #89a5dd;
	}
}
