.fixed_nav {
	display: flex;
	/* display: none; */
	align-items: center;
	justify-content: space-between;
	padding: 0.2rem 0.6rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	flex-wrap: wrap;
}

/* .header,
.fixed_nav * {
	font-size: 20px;
} */

.header {
	display: flex;
	/* display: none; */
	align-items: center;
	justify-content: space-between;
	padding: 0.2rem 0.6rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	flex-wrap: wrap;
}

.company {
	font-family: 'Oswald', sans-serif;
	font-size: 1rem;
	letter-spacing: 1px;
	align-items: center;
	font-weight: bold;
	color: var(--main-font-color);
	margin: 0;
	z-index: 10000;
}

.header > .company {
	display: none;
}

.company:hover {
	text-decoration: none;
	color: var(--theme-font-color);
}

.navBar {
	display: block;
	height: auto;
	font-weight: bold;
	z-index: 1000;
	width: 100%;
	overflow: hidden;
}

.navBar a {
	color: var(--main-font-color);
	text-decoration: none;
	font-size: 1.5rem;
	text-transform: uppercase;
	width: fit-content;
	padding: 10px;
}

.menuNav {
	/* height: 0; */
	position: fixed;
	top: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	background-color: rgba(216, 153, 132, 0.94);

	/* background-color: black; */
	width: 100%;
	height: 100vh;
	overflow: auto;
	margin: 0;
	padding: 0;
	/* padding: 0; */
	/* transition: all 0.3s ease-in-out; */
}

.menuNav .shown {
	opacity: 0.97;
	visibility: visible;
	transition: opacity 0.3s 0s ease-in-out, visibility 0s 0s linear;
}
/* .down .menuNav {
	height: 80px;
	padding: 5px 0px;
} */

.hamburger {
	background: transparent;
	border: none;
	z-index: 10000;
}

.hamburger:focus {
	outline: none;
}

.header > .hamburger {
	background-color: black;
	border-radius: 0.4rem;
}

.header button:focus {
	outline: none;
}

#navlink:hover {
	color: aquamarine;
	text-decoration: none;
}

@media only screen and (min-device-width: 500px) {
	.header {
		padding: 0.2rem 2rem;
	}

	.fixed_nav {
		padding: 0.2rem 2rem;
	}
}
