.headline {
	font-family: 'Oswald', sans-serif;
	/* font-family: 'Zen Loop', cursive; */
	font-size: 40px;
	letter-spacing: 1px;
	line-height: 1.4;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	margin: 50px 20px;
	white-space: pre-wrap;
	text-align: center;
}
/* 
body {
	color: white;
} */

.home {
	background-image: url('../assets/images/squat.jpeg');
	background-color: white;
	background-size: cover;
	background-position: right;
	height: 100vh;
	padding-top: 10px;
}

.home_content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 60px;
}

.portrait {
	border-radius: 50%;
	width: 70%;
	display: block;
	margin: auto;
	box-shadow: 0px 0px 7px white;
}

.info {
	color: white;
	text-align: center;
	padding-top: 40px;
	font-size: 20px;
	font-weight: 500;
}

.info_container {
	margin: auto;
}

@media only screen and (min-device-width: 500px) {
	.home {
		background-image: url('../assets/images/squat.jpeg');
		background-color: white;
		background-size: cover;
		background-position: center center;
		display: flex;
		height: 100vh;
		align-items: center;
		color: rgb(0, 0, 0);
	}

	.home_content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0px 60px 0px 300px;
	}

	.portrait_container {
		width: 50%;
	}

	.portrait {
		border-radius: 10%;
		width: 70%;
		margin-right: auto;
		display: block;
		margin-left: auto;
		box-shadow: 5px 5px 5px rgb(88, 88, 88);
	}

	.info_container {
		width: 50%;
		padding: 0px 5px;
	}

	.info {
		/* font-family: 'Zen Loop', cursive; */
		/* font-family: 'Oswald', sans-serif; */
		font-family: 'Open Sans', sans-serif;
		font-size: 40px;
		font-weight: 700;
		color: #000000;
		line-height: 1.3;
		text-align: center;
		/* background-color: rgba(255, 255, 255, 0.5); */
		padding: 20px 20px 20px 20px;
		border-radius: 3%;
		/* box-shadow: 0px 0px 50px rgb(88, 88, 88); */
	}

	.headline {
		padding-top: 15px;
	}

	.list {
		padding-top: 18px;
		font-weight: 600;
	}

	li {
		padding-top: 7px;
	}
}

li {
	white-space: pre-wrap;
}
