.nav_bar {
	display: flex;
	align-items: baseline;
	justify-content: center;
	width: 100%;
}

.company {
	margin-right: auto;
	white-space: nowrap;
}

.navlinks {
	text-transform: uppercase;
	font-size: 0.8rem;
}

.navlink {
	padding: 0 2rem;
	color: var(--main-font-color);
}

@media only screen and (max-device-width: 1200px) {
	.nav_bar {
		display: none;
	}
}
