.view_container {
	height: fit-content;
}

.program_content {
	margin: 0 15px;
	padding: 60px 0px 50px;
}

.programs_heading {
	color: var(--secondary-theme-font-color);
	font-family: var(--theme-font-family);
	margin: 0;
	font-size: 150%;
}

.cards {
	padding: 20px 0px;
}

.card-body {
	padding: 0.5rem;
}

.title {
	font-family: var(--theme-font-family);
	text-align: center;
	font-size: xx-large;
	color: var(--theme-font-color);
	padding: 10px 0px;
}

.card-text {
	font-family: var(--main-font-family);
	padding: 10px;
	margin-bottom: 0;
	letter-spacing: 0.04rem;
}

/* .online_coaching {
	margin: -30px 0px -25px 20px;
	height: auto;
	width: 100%;
}

.personal_training {
	margin: -30px 0px -25px 20px;
	height: auto;
	width: 100%;
}

.npc_bikini_posing {
	height: auto;
	width: 100%;
	margin: -10px 0px -40px 0px;
} */
