:root {
	--theme-font-family: 'Oswald', sans-serif;
	--main-font-family: '';
	--alt-font-family: '';
	--theme-font-color: aquamarine;
	--main-font-color: white;
	--alt-font-color: black;
}

.container {
	margin-top: 30px;
}

.program_tabs {
	font-family: var(--theme-font-family);
	flex-wrap: nowrap !important;
	text-align: center;
	font-size: 1.2rem !important;
	text-transform: uppercase;
}
.card_tab {
	border-radius: 0.4rem;
}

.card-title {
	margin-bottom: 0.4rem !important;
}

.card-body {
	padding: 0.5rem !important;
}

.selected_card_container {
	padding-top: 1rem;
}

.selected_card {
	border-radius: 0 !important;
	box-shadow: 6px 6px 0px darksalmon;
	/* box-shadow: 3px 3px 7px darksalmon; 
    box-shadow: 3px 3px 7px black; */
}
