:root {
	--theme-font-family: 'Oswald', sans-serif;
	--main-font-family: 'Open Sans', sans-serif;
	--alt-font-family: '';
	--theme-font-color: aquamarine;
	--secondary-theme-font-color: darksalmon;
	--main-font-color: white;
	--alt-font-color: black;
}
.app {
	background: linear-gradient(#000000 0%, #000000 70%, aquamarine 99%);
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	margin: 0;
}

@media only screen and (min-device-width: 500px) {
	body {
		font-size: 112.5%; /* 18 pixels roughly */
	}
}
